.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

.stylish {
  font-family: 'Qwigley', cursive;
  font-size: 25px;
}

#footer {
  margin-top: 5px
}

i {
  color: blue;
}

#weather-data, #form-row {
  min-height: 100px;
}

.col-md-2 {
  min-height: 100px;
}

form {
  margin: 10px;
}

.btn-block {
  margin-top: 10px;
}